VITE_GENLAYER_NETWORK=studionet
VITE_MILESTONEPROOF_ADDRESS=
GENLAYER_NETWORK=studionet
DEPLOYER_PRIVATE_KEY=
DEPLOYMENT_MANIFEST_PATH=
E2E_CONTRACT_ADDRESS=
CONFIRM_LIVE_E2E=
CONFIRM_DEPLOY=
VERCEL_TOKEN=
